<!DOCTYPE html>
<html lang="ko">
<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Back-end Developer</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">jypark</li><li><a class="u-email" href="mailto:jyp90@kakao.com">jyp90@kakao.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/jyp90"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">jyp90</span></a></li><li><a href="https://www.twitter.com/junyongpark90"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">junyongpark90</span></a></li></ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>github를 더 활성화하기 위해 공부하는 리포지토리</p>
      </div>
    </div>

  </div>

</footer>
</html>
