<!DOCTYPE html>
<html lang="ko">
<body>
<header>
  <div class="header-items">
    <div class="left-align">
      <ul>
        <li>
          <a href="/">홈 피드</a>
        </li>
        <li>
          <a href="/job">맞춤 채용</a>
        </li>
        <li>
          <a href="/directory">디렉토리</a>
        </li>
        <li class="division">
          <a href="/currior">커리어 프로필</a>
        </li>
        <li>
          <a href="/suggestion">제안 받기</a>
        </li>
      </ul>
    </div>
    <div class="right-align">
      <ul>
        <li><a href="/corp-service">기업 서비스</a></li>
        <li>|</li>
        <li>
          <a href="/profile">
            <img src="../images/thumbnail.jpg" alt="thumbnail picture">
          </a>
        </li>
        <li>
          <a href="/favorite">하뚜</a>
        </li>
        <li>
          <a href="/notification">알림</a>
        </li>
        <li>
          <a href="/search">검색</a>
        </li>
      </ul>
    </div>

  </div>
</header>
</body>
</html>
