<!DOCTYPE html>
<html lang="ko">
<body>
<header>
  <div class="header-items">
    <div class="left-align">
      <ul>
        <li>
          <a href="/">홈 피드</a>
        </li>
        <li class="division"></li>
        <li>
          <a href="/directory">디렉토리</a>
        </li>
      </ul>
    </div>
    <div class="right-align">
      <ul>
        <li>
          <a href="/search" class="search"></a>
        </li>
        <li>
          <a href="/notification" class="bell"></a>
        </li>
        <li>
          <a href="/favorite" class="heart"></a>
        </li>
        <li class="division"></li>
        <li class="thumbnail-image">
          <a href="/profile">
            <img src="{{ "/assets/thumbnail.png" | relative_url }}" alt="thumbnail picture">
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
</body>
</html>
