body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1a1b1e;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

footer {
    height: 250px;
}
