
header {
  /* background-color: brown; */
  height: 56px;
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-items .left-align {
  display: inline-flex;
}

.header-items ul {
  display: flex;
  padding: 20px;
}

.header-items li {
  font-size: 15px;
  line-height: 150%;
  font-weight: 600;
  transition: all 150ms;
  padding: 0 6px;
  align-items: center;
}

.header-items .left-align li {
  float: left;
}

.header-items .right-align li {
  float: right;
}

.header-items li a {
  position: relative;
  color: rgba(240, 240, 240, 0.7);
  font-size: 15px;
  line-height: 150%;
  padding: 4px;
  font-weight: 600;
  transition: all 150ms;
}

.header-items li.division {
  content: "";
  position: relative;
  top: 3px;
  width: 1px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  padding: 0;
  margin: 0 8px;
}

.division {
}

main {
  background-color: antiquewhite;
  min-height: 500px;
}

.container {
  /* width: 1296px; */
  padding: 20px;
  border: 1px solid;
  display: flex;
  height: auto;
}

.banner {
  min-height: 200px;
  background-color: Gray;
  width:100%;
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -360px;
}

.categories {
  background-color: green;
  min-width: 288px;
  padding: 24px 90px;
}

.list {
  background-color: gold;
  width: 100%;
}

.thumbnail-image img {
  width: 30px;
  height: 24px;
  padding-bottom: 6px;
}

.heart:before {
  content: "❤️";
  font-size: 18px;
}

.search:before {
  content: "🔍";
  font-size: 18px;
}

.bell:before {
  content: "🔔";
  font-size: 18px;
}

.favorite-category:before {
  content: "관심 카테고리";
}

.category-first li.first {
  vertical-align: center;
  color: white;
  border-radius: 20px;
  width: 240px;
  height: 48px;
  font-size: 22px;
  padding: 20px;
  background-color: black;
}

.category-second li.second {
  color: grey;
  width: 160px;
  height: 36px;
}
